{% extends 'base.html' %} {% block 'body' %}

<div
  class="container-fluid d-flex justify-content-center align-items-center vh-100"
  style="background-color: #a9a9a9"
>
  <div class="card shadow-lg p-4" style="width: 350px">
    <h2 class="text-center mb-4">Cadastro de Aluno</h2>
    <form action="{% url 'cadastrar_aluno' %}" method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          placeholder="Digite seu e-mail..."
          name="email"
          class="form-control"
          id="email"
          required
        />
      </div>

      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input
          type="password"
          placeholder="Digite sua senha..."
          name="senha"
          class="form-control"
          id="senha"
          required
        />
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-success btn-block">
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
